<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color:red;
    }
    h1{
        color:green;
    }
    </style>
</head>
<body>
    <h1>welcome {{name}} to the profile page</h1>
    {% if messages %}
       {% for msg in messages %}
         <span {% if msg.tags %} class="{{msg.tags}}" {% endif %}> {{msg}} </span>
       {% endfor %}
    {% endif %}

    <form action="" method="post">
    </form>
</body>
</html>